In [80]:
import pandas as pd
df_remuneracao = pd.read_csv('202401_Remuneracao.csv', encoding="ISO-8859-1",sep=";")
df_pensionista = pd.read_csv('PENSIONISTAS_012024.csv', encoding="ISO-8859-1",sep=";")

C:\Users\Renan\AppData\Local\Temp\ipykernel_20012\1697442647.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_remuneracao = pd.read_csv('202401_Remuneracao.csv', encoding="ISO-8859-1",sep=";")

In [81]:
df_filtrado_pensionista = df_pensionista.loc[:, ['NOME DO SERVIDOR INSTITUIDOR', 'CPF SERVIDOR INSTITUIDOR', 'NOME DO BENEFICIARIO', 'CPF DO BENEFICIARIO','CARGO SERVIDOR INSTITUIDOR','TIPO DE BENEFICIARIO','RENDIMENTO BRUTO','RENDIMENTO LIQUIDO']]
df_filtrado_pensionista = df_filtrado_pensionista.dropna(subset=['TIPO DE BENEFICIARIO'])

In [83]:
df_remuneracao_filtrado= df_remuneracao.loc[:, [ 'CPF', 'NOME','IRRF (R$)', 'REMUNERAÇÃO BÁSICA BRUTA (R$)']]

In [84]:
def formatar_numero(numero):
    numero = ''.join(filter(str.isdigit, numero))  
    numero_formatado = "***.{:03d}.{}-**".format(int(numero[:-3]), int(numero[-3:]))
    return numero_formatado

# Aplicando a função à coluna 'numero'
df_filtrado_pensionista['CPF DO BENEFICIARIO'] = df_filtrado_pensionista['CPF DO BENEFICIARIO'].apply(formatar_numero)

In [85]:
df_filtrado_pensionista.head(5)

,NOME DO SERVIDOR INSTITUIDOR,CPF SERVIDOR INSTITUIDOR,NOME DO BENEFICIARIO,CPF DO BENEFICIARIO,CARGO SERVIDOR INSTITUIDOR,TIPO DE BENEFICIARIO,RENDIMENTO BRUTO,RENDIMENTO LIQUIDO
0,ABELINO ABRANCHES DE ALMEIDA,***526847**,MARIA DA CRUZ DOS SANTOS,***.973.491-**,AGENTE ADMINISTRATIVO,CONJUGE,"3.546,96","3.546,96"
1,ADOLFO LEAO DE ARAUJO,***602951**,CARMEN LUCINDA FARKAS DE ARAUJO,***.777.501-**,AUXILIAR OPERACIONAL EM AGROPECUARIA,VIUVA,"1.398,74","1.333,53"
2,AGNELO FERREIRA DA CRUZ,***260401**,MARIA DE LOURDES DA SILVA,***.578.421-**,AUXILIAR OPERACIONAL EM AGROPECUARIA,COMPANHEIRA(O),"2.940,09","2.940,09"
3,AYRTON SCHMALTZ,***382361**,DIOMARINA ALVES DOS SANTOS,***.482.751-**,AGENTE ADMINISTRATIVO,COMPANHEIRA(O),"9.195,10","7.975,51"
4,ALBERTO FERNANDO MONTEIRO DO NASCIMENTO,***421424**,MARIZETE DIAS SOUZA,***.574.775-**,FISCAL FEDERAL AGROPECUARIO,COMPANHEIRA(O),"24.860,74","17.283,67"

In [86]:
df_filtrado_pensionista.isnull().sum()

NOME DO SERVIDOR INSTITUIDOR       6
CPF SERVIDOR INSTITUIDOR           0
NOME DO BENEFICIARIO               0
CPF DO BENEFICIARIO                0
CARGO SERVIDOR INSTITUIDOR      1847
TIPO DE BENEFICIARIO               0
RENDIMENTO BRUTO                   0
RENDIMENTO LIQUIDO                 0
dtype: int64

In [87]:
df_filtrado = df_filtrado_pensionista[df_filtrado_pensionista['TIPO DE BENEFICIARIO'].str.contains("INV")]

In [89]:
df_remuneracao_filtrado.isnull().sum()

CPF                              3211
NOME                                1
IRRF (R$)                           1
REMUNERAÇÃO BÁSICA BRUTA (R$)       1
dtype: int64

In [100]:
df_remuneracao_filtrado.head()

,CPF DO BENEFICIARIO,NOME DO BENEFICIARIO,IRRF (R$),REMUNERAÇÃO BÁSICA BRUTA (R$)
0,***.394.928-**,AARAO DE OLIVEIRA,"0,00","13601,79"
1,***.023.296-**,ABADIA APARECIDA CAIXETA DIAS,"0,00","8319,42"
2,***.421.211-**,ABADIA BENEDITA BORGES DUTRA,"-4252,52","19444,43"
3,***.137.206-**,ABADIA CAETANO,"0,00","3724,44"
4,***.834.461-**,ABADIA CANDIDA LEMES,"-545,08","4330,79"

In [101]:
df_filtrado_pensionista.head()

,NOME DO SERVIDOR INSTITUIDOR,CPF SERVIDOR INSTITUIDOR,NOME DO BENEFICIARIO,CPF DO BENEFICIARIO,CARGO SERVIDOR INSTITUIDOR,TIPO DE BENEFICIARIO,RENDIMENTO BRUTO,RENDIMENTO LIQUIDO
0,ABELINO ABRANCHES DE ALMEIDA,***526847**,MARIA DA CRUZ DOS SANTOS,***.973.491-**,AGENTE ADMINISTRATIVO,CONJUGE,"3.546,96","3.546,96"
1,ADOLFO LEAO DE ARAUJO,***602951**,CARMEN LUCINDA FARKAS DE ARAUJO,***.777.501-**,AUXILIAR OPERACIONAL EM AGROPECUARIA,VIUVA,"1.398,74","1.333,53"
2,AGNELO FERREIRA DA CRUZ,***260401**,MARIA DE LOURDES DA SILVA,***.578.421-**,AUXILIAR OPERACIONAL EM AGROPECUARIA,COMPANHEIRA(O),"2.940,09","2.940,09"
3,AYRTON SCHMALTZ,***382361**,DIOMARINA ALVES DOS SANTOS,***.482.751-**,AGENTE ADMINISTRATIVO,COMPANHEIRA(O),"9.195,10","7.975,51"
4,ALBERTO FERNANDO MONTEIRO DO NASCIMENTO,***421424**,MARIZETE DIAS SOUZA,***.574.775-**,FISCAL FEDERAL AGROPECUARIO,COMPANHEIRA(O),"24.860,74","17.283,67"

In [91]:
df_remuneracao_filtrado.dropna(subset=['CPF'], inplace=True)
df_remuneracao_filtrado.isnull().sum()

CPF                              0
NOME                             0
IRRF (R$)                        0
REMUNERAÇÃO BÁSICA BRUTA (R$)    0
dtype: int64

In [92]:
df_remuneracao_filtrado=df_remuneracao_filtrado.rename(columns={'CPF': 'CPF DO BENEFICIARIO', 'NOME': 'NOME DO BENEFICIARIO'})

In [102]:
result = pd.merge(df_remuneracao_filtrado, df_filtrado, on=["CPF DO BENEFICIARIO", "NOME DO BENEFICIARIO"])

In [103]:
result

,CPF DO BENEFICIARIO,NOME DO BENEFICIARIO,IRRF (R$),REMUNERAÇÃO BÁSICA BRUTA (R$),NOME DO SERVIDOR INSTITUIDOR,CPF SERVIDOR INSTITUIDOR,CARGO SERVIDOR INSTITUIDOR,TIPO DE BENEFICIARIO,RENDIMENTO BRUTO,RENDIMENTO LIQUIDO
0,***.791.599-**,ABDON BANDEIRA DE ANDRADE,"0,00","2601,26",FRANCISCO BANDEIRA DE ANDRADE,***646709**,PORTEIRO,FILHO(A) INVALIDO(A),"2.778,20","1.942,10"
1,***.965.537-**,ABEILAR CALIMAN,"0,00","6696,54",AGOSTINHO CALIMAN,***525827**,AGENTE DE SERV COMPLEMENTARES,IRMAO(A) INVALIDO(A),"6.456,99","4.813,58"
2,***.327.217-**,ABEL GONCALVES RAINHO JUNIOR,"-226,00","5061,75",ABEL GONCALVES RAINHO,00000000000,PRIMEIRO TENENTE,FILHO(A) INVALIDO(A),"5.061,75","4.203,04"
3,***.048.674-**,ABELARDO DE ABREU RODRIGUES DA SILVA,"0,00","4711,80",EDGARD ABREU R SILVA,***243494**,AGENTE DE PORTARIA,FILHO(A) INVALIDO(A),"5.322,30","3.872,44"
4,***.201.717-**,ABIGAIL MARIANO DE BARROS,"0,00","1238,91",ANTONIO LUIZ DE BARROS,00000000000,AGENTE DE SAUDE PUBLICA,FILHO(A) INVALIDO(A),"1.355,41","1.035,58"
...,...,...,...,...,...,...,...,...,...,...
15522,***.481.792-**,ZULEMA MARFIZA DE PAIVA LEAO,"0,00","16641,32",JOAO FERREIRA LEAO,***671242**,AGENTE DE POLICIA CIVIL PRIMEIRA,FILHA MAIOR INVALIDA,"16.641,32","8.981,83"
15523,***.196.758-**,ZULIND LENA FREITAS,"0,00","29760,95",ALENCAR FREITAS,***797058**,AUDITOR-FISCAL DA RECEITA FEDERAL BRASIL,FILHA MAIOR INVALIDA,"30.810,95","27.144,92"
15524,***.406.339-**,ZULMA MARTINS ANGELINO,"0,00","3625,22",PEDRO ANGELINO,00000000000,AUX OPERAC DE SERV DIVERSOS,VIUVA INVALIDA,"3.625,22","3.625,22"
15525,***.763.287-**,ZULMIRA LIMA GUERRA,"-176,18","4171,88",WALTER DE JESUS GUERRA,***041857**,TECNICO DE NIVEL MEDIO,FILHO(A) INVALIDO(A),"3.949,54","2.085,71"
15526,***.071.776-**,ZULMIRA PIMENTEL,"0,00","4032,62",MANOEL PIMENTEL,00000000000,AUX OPERAC DE SERV DIVERSOS,VIUVA INVALIDA,"4.032,62","4.032,62"

In [104]:
df_result = result.loc[result['IRRF (R$)'] != "0,00"]

In [105]:
df_result.to_csv('Lista_final_0124_invalido_IRPF2.csv', index=False)